@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: Idroid;
    src: url(../fontes/idroid.otf) format('opentype');
}

:root {
    --fonte-comum: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-droid: Idroid, cursive;

    --cor0: #c5ebd5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fonte-comum);
    background-color: var(--cor0);
}

header {
    text-align: center;
    padding: 20px 30px;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
}

header  h1 {
    color: white;
    font: lighter 3em var(--fonte-destaque);
    padding: 20px;
    text-shadow: 3px 2px 2px  rgba(0, 0, 0, .5);
}

header p{
    color: white;
    text-shadow: 2px 2px 1px  rgba(0, 0, 0, .5);
    max-width: 450px;
    margin: auto;
    font-size: 1.1em;
}

nav {
    background-color: var(--cor5);
    padding: 0 20px 10px 20px;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.61);
}

nav > a {
    text-decoration: none;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    padding: 8px;
    transition-duration: 0.4s;
}

nav > a:hover {
    background-color: var(--cor2);
    color: var(--cor5);
}

main {
    background-color: white;
    max-width: 1000px;
    min-width: 400px;
    margin: 0 auto 20px auto;
    padding: 20px 15px;
    border-radius: 0 0 15px 15px;
}



section > h1 {
    color: var(--cor4);
    font: normal 2em var(--fonte-droid);
}

section p {
    margin: 15px 0;
    text-indent: 20px;
    line-height: 1.4em;
}

section strong {
    color: var(--cor4);
    font-weight: bold;
}

section a {
    color: var(--cor4);
    text-decoration: none;
    font-weight: bold;
    background-color: var(--cor0);
}

section a::after {
    content: ' \1F517';
}

section a:hover {
    text-decoration: underline;
}

article > h2 {
    background-image: linear-gradient(to right, var(--cor0), transparent);
    font: normal 1.4em var(--fonte-droid);
    color: var(--cor4);
    text-indent: 15px;
}

section img {
    width: 95%;
    display: block;
    margin: auto;
}

section img#pq {
    max-width: 350px;
}

section div.video {
    position: relative;
    background-color: var(--cor5);
    margin: 0 -20px 15px -20px;
    padding: 10px 20px;
    padding-bottom: 57%;
}

section div.video > iframe  {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

section iframe {
    position: absolute;

}

aside {
    background-color: var(--cor1);
    padding: 5px;
    border-radius: 10px;
}

aside > h3 {
    background-color: var(--cor4);
    margin: -5px -5px 0 -5px;
    padding: 7px;
    color: white;
    border-radius: 10px 10px 0 0;
}

aside > ul {
    list-style: '\2705\00a0\00a0' inside;
    columns: 2;
}

footer {
    background-color: var(--cor5);
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 1.3em;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}