@charset "UTF-8";

/* 
Paleta de cores:
#c5ebd5
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: Droid;
    src: url(../fontes/idroid.otf) format('opentype');
}

:root {
    --cor0: #c5ebd5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-droid: Droid, cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: ' \1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding: 40px 10px 0 10px;
}

header > h1 {
    color: white;
    font: lighter 3em var(--fonte-destaque);
    min-width: 300px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.89);
}

header > p {
    color: white;
    font: 1.2em var(--fonte-padrao);
    max-width: 500px;
    min-width: 300px;
    margin: 20px auto 20px auto;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.89);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0 7px 9px rgba(0, 0, 0, 0.322);
}

nav > a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover {
    color: var(--cor5);
    background-color: var(--cor2);
}

main {
    background-color: white;
    margin: 0px auto 20px auto;
    border-radius: 0 0 15px 15px;
    max-width: 1000px;
    min-width: 300px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.507);
}

main h1 {
    color: var(--cor5);
    font: normal 2em var(--fonte-droid);
}

main h2 {
    font: normal 1.5em var(--fonte-droid);
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 15px;
}

main p {
    margin: 15px 0;
    text-align: justify;
    text-indent: 25px;
    line-height: 1.4em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
    padding: 0 3px;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 0 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

main div.video {
    position: relative;
    background-color: var(--cor5);
    margin: 0 -20px 15px -20px;
    padding: 10px 20px;
    padding-bottom: 57%;
}

main div.video > iframe  {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 5px;
    margin: -10px -10px 0 -10px;
    border-radius: 10px  10px 0 0;
}

aside > ul {
    list-style: '\1F916\00a0\00a0' inside;
    columns: 2;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 1.2em;
    padding: 8px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}