@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --fonte: 'Opens Sans', Arial, Helvetica, sans-serif;
    --cor-principal: #C4170C;
}

*{
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

body{
    background-color: white;
    font-family: var(--fonte);
}

nav {
    padding: 15px 30px;
    background-color: white;
    max-width: 1200px;
    min-width: 400px;
    margin: auto;
}

nav > a {
    text-decoration: none;
    padding: 0 8px;
}

header {
    background-color: var(--cor-principal);
    padding: 10px;
}

h1 {
    text-align: center;
    color: white;
    font: bolder 3em var(--fonte);
}

main {
    max-width: 1200px;
    min-width: 400px;
    margin: 35px auto;
}

section#destaques {
    max-width: 1200px;
    min-width: 400px;
    margin: auto;
}

section#destaques > article#principal {
    border: 1px solid black;
    max-width: 500px;
    border-radius: 5px;
}

section#destaques > div {
    display: inline;
}